
#dog1{
    background-color:rgba(255,56,96,1); 
}
#dog2{
    background-color:rgba(32,156,238,1);
}
h1{
    font-size: 3em;
}
.marginbottom{
    margin-bottom: 25px;
}
  
.container{
    height: 100vh;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column
}
#middle{
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column
}
.image{
    height: 450px;
    width:450px;
}
.dog-image{
    max-width: 423px;
    max-height: 450px;
    min-width: 423px;
    min-height: 450px;
}
.load{
    font-size:2em;
    font-style: bold;
}


@media(max-width:400px){
    .image{
        height: 150px;
        width:150px;
    }
    .dog-image{
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
}


/* Lida com imagens de tamanho desconhecido para caber no container Figure 500px por 500 px */
/* .container figure {
    text-align: center;
    line-height: 500px;
    height: 100%;
}
  
.container figure img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
} */